{% extends "base.html" %}

{% block title %}انتخاب نوع فایل{% endblock %}

{% block content %}
<h2>انتخاب نوع فایل برای بارگذاری</h2>
<form action="/file_selection" method="POST">
    <label>
        <input type="radio" name="file_type" value="video"> ویدئو
    </label>
    <label>
        <input type="radio" name="file_type" value="zip"> فایل ZIP حاوی تصاویر
    </label>
    <button type="submit" class="btn">ادامه</button>
</form>
<a href="{{ url_for('process_list') }}" class="btn" style="margin-top:10px;">مشاهده پردازش‌ها</a>
<a href="{{ url_for('logout') }}" class="btn" style="margin-top:10px;">خروج</a>
{% endblock %}
